* {
    margin: 0;
    padding: 0;
    border: none;
    user-select: none;
    outline: none;
}

#me, #him, #game, #room, #you {
    position: fixed;
    left: 5px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

#me {
    top: 5px;
}

#him {
    top: 25px;
}

#game {
    top: 45px;
}

#you {
    bottom: 5px;
}

#room {
    bottom: 25px;   
}

#roomexists {
    margin-top: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
    background-color: red;
    padding: 10px;
    border-radius: 4px;
}

#text {
    position: fixed;
    left: 0;
    width: 100%;
    text-align: center;
    top: calc(50% - 350px);
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

table {
    position: fixed;
    top: calc(50% - 275px);
    left: calc(50% - 275px);
}

td {
    width: 50px;
    height: 50px;
}

img {
    padding: 5px 5px 0 5px;
    height: 40px;
    width: 40px;
    z-index: 5;
    -webkit-user-drag: none;
}

.cross {
    position: absolute;
    z-index: 3;
    pointer-events: none;
}

.l {
    left: calc(50% - 275px);
}

.u {
    top: calc(50% - 275px);
}

.r {
    right: calc(50% - 275px);
}

.b {
    bottom: calc(50% - 271px);
}

.m {
    left: calc(50% - 25px);
    top: calc(50% - 21px);
    z-index: 1;
}

.mid {
    background: url("cross.svg");
    background-color: #cc8140;
}

#joinscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#roomname {
    background-color: white;
    padding: 10px;
    font-size: 25px;
    border-radius: 4px;
    margin-top: 10px;
    width: 350px;
}

.btn {
    padding: 10px;
    font-size: 25px;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    background-color: #34495e;
    display: inline-block;
    color: white;
    width: 350px;
}

.btn:not(.btn_out):hover {
    background-color: #2c3e50;
}

.btn:not(.btn_out) {
    cursor: pointer;
}

.center {
    top: calc(50% - 200px);
    left: calc(50% - 167px);
    position: absolute;
}